<script type="text/javascript" src="/javascripts/view.home.js"></script>
<script type="text/javascript" src="/javascripts/share.js"></script>

<div id="fb-root"></div>

<div class ="row span12 content center" id="presentations_wrapper">
	<div class = "row span1 space"><hr></div>
	<div class = "row span1 reflected"><p>Presentations</p></div>
	<div class = "row span8 space line"><hr></div>
	<div class = "row span1 space"></div>
	<div id="page1">
		<div class = "row span12 text fontcolor features">

			<%if (typeof presentations != 'undefined') {%>
				<ul class="thumbnails ">
						<li class="span2">
							<a href="/presentation/new" class="container"><img class="roundedCornersDivBgImage" src='/images/new_presentation_icon.png'/></a>
							<div class="number_pages">New</div>
						</li>
						<li class="span1 actionsdiv"></li>
					<% for(i=0;i<presentations.length;i++){%>
			 			<li class="span2">
							<a href='/presentation/<%=presentations[i]._id%>' class="container"><img class="roundedCornersDivBgImage" src='<%=presentations[i].avatar%>'/></a>
						</li>
						<li class="span1 actionsdiv">
							<a href='/presentation/<%=presentations[i]._id%>/edit'><img class= "actions" src="/images/edit.png"/></a><br>
							<a href='/presentation/<%=presentations[i]._id%>/download'><img class= "actions" src="/images/download.png"/></a><br>
							<a class="sharelink" presentationId="<%=presentations[i]._id%>"> <img class="actions" src="/images/share.png"/> </a>
						</li>

						<%- partial('partials/shareModal', { locals: { presentation: presentations[i]}}) %>

					<%}%>
				</ul>
			<%}%>
		</div>
	</div>
</div>