<script type="text/javascript" src="/javascripts/view.index.js"></script>

<div class = "container">
  <div class = "span1 centeri">
    <p> </p>
  </div>
  <div class = "span5 centeri">
    <img id = "mainimage" width="100%" height="100%" src="/images/show_big.png" >
  </div>
  <div class = "span1 centeri" >
    <p></p>
  </div>
  <div id ="login">
    <div class = "span3 centeri sign_box">
      <%- partial('partials/sign_in') %>
      <% if (typeof errors !== 'undefined' && errors.length && errors.indexOf("LOGIN_ERROR")!=-1 ){%>
        <div id="loginError" class="alert alert-error">
           <%for(i=0; i<errors.length; i++){%>
            <%if (errors[i]!="LOGIN_ERROR") {%>
              <p class="messageError"><%=errors[i]%></p>
            <%}%>
          <%}%>
        </div>
      <%} else {%>
        <div id="loginError" class="alert alert-error" style="display:none"></div>
      <%}%>
    </div>
    <div class = "span3 centeri sign_box signup_space">
      <%- partial('partials/sign_up') %>
      <% if (typeof errors !== 'undefined' && errors.length && errors.indexOf("REGISTER_ERROR")!=-1){%>
        <div id="registerError" class="alert alert-error">
           <%for(i=0; i<errors.length; i++){%>
            <%if (errors[i]!="REGISTER_ERROR") {%>
              <p class="messageError"><%=errors[i]%></p>
            <%}%>
          <%}%>
        </div>
      <%} else {%>
        <div id="registerError" class="alert alert-error" style="display:none"></div>
      <%}%>
    </div>
  </div>
  <div class= "span1 centeri">
    <p> </p>
  </div>
  <div class = "row span12 contenido">
      <%- partial('partials/features') %>
      <%- partial('partials/examples') %>
  </div>
</div>