<%if ((typeof options !== 'undefined')&&(typeof presentation !== 'undefined')){%>
  <script type="text/javascript"> 
    var options = <%-options%>; 
    var presentation = <%-presentation.content%>;
  </script>
<%}%>

<div class="row span12 center main tabVishEditorWrapper">
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%- partial('partials/vishEditorShow') %>
    </div>
    <div class="tab-pane" id="tab2">
    <%- partial('partials/help') %>
    </div>
    <div class="tab-pane" id="tab3">
    <%- partial('partials/aboutus') %>
    </div>
  </div>
</div>